---
import type { GetStaticPaths, Page } from "astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

import Pagination from "@/components/Paginator";

import DocumentLayout from "@/layouts/DocumentLayout";

import { sortBlogPostsByDate } from "@/utils/content";
import { getFormattedDate } from "@/utils/dates";

export const getStaticPaths = (async ({ paginate }) => {
	const posts = await getCollection("blog", ({ data }) => data.draft !== true);
	const sortedPosts = sortBlogPostsByDate(posts);
	return paginate(sortedPosts, { pageSize: 10 });
}) satisfies GetStaticPaths;

interface Props {
	page: Page<CollectionEntry<"blog">>;
}

const { page } = Astro.props as Props;

const meta = {
	title: "Posts",
	description: "A collection of blog posts by Sean Cassiere",
};

const paginationProps = {
	...(page.url.prev && {
		prevUrl: {
			url: page.url.prev,
			text: `← Previous`,
		},
	}),
	...(page.url.next && {
		nextUrl: {
			url: page.url.next,
			text: `Next →`,
		},
	}),
};
---

<DocumentLayout meta={meta}>
	<h1 class="mb-14 text-2xl font-medium lowercase tracking-tight">Posts</h1>
	<section class="mb-12 lowercase" aria-label="Blog posts I've published">
		<ul class="space-y-6 xl:space-y-8">
			{
				page.data.map((post) => (
					<li>
						<a
							href={`/blog/${post.slug}`}
							class="group grid gap-2"
							data-astro-prefetch
						>
							<span
								class="mb-1 underline decoration-transparent underline-offset-2 group-hover:decoration-foreground"
								transition:name={`post-${post.slug}-title`}
							>
								{post.data.title}
							</span>
							<p class="text-foreground/75">{post.data.description}</p>
							<time
								datetime={new Date(post.data.publishDate).toISOString()}
								class="text-sm text-foreground/75"
								transition:name={`post-${post.slug}-date`}
							>
								{getFormattedDate(post.data.publishDate)}
							</time>
						</a>
					</li>
				))
			}
		</ul>
		<Pagination {...paginationProps} />
	</section>
</DocumentLayout>
