---
import type { CollectionEntry } from "astro:content";
import type { IElement } from "@/data/shared";
import { getFormattedDate } from "@/utils";

interface Props extends IElement {
	post: CollectionEntry<"blog">;
	withDesc?: boolean;
}

const { post, as: Element = "div", withDesc = false } = Astro.props;
const date = new Date(post.data.publishDate);
const datetime = date.toISOString();
const postDate = getFormattedDate(date);
---

<time
	datetime={datetime}
	class="text-foreground min-w-[120px]"
	transition:name={`post-date-${post.slug}`}>{postDate}</time
>
<Element>
	<a
		href={`/blog/${post.slug}`}
		class="themed-link inline-block"
		rel="prefetch"
		transition:name={`post-title-${post.slug}`}
	>
		{post.data.title}
	</a>
</Element>
{
	withDesc && (
		<q
			class="line-clamp-3 block italic"
			transition:name={`post-description-${post.slug}`}
		>
			{post.data.description}
		</q>
	)
}
