---
import type { CollectionEntry } from "astro:content";

import { getFormattedDate } from "@/utils/dates";

import type { IElement } from "@/data/shared";

interface Props extends IElement {
	post: CollectionEntry<"blog">;
}

const { post, as: Element = "div" } = Astro.props;
const date = new Date(post.data.publishDate);
const datetime = date.toISOString();
const postDate = getFormattedDate(date);
---

<time
	datetime={datetime}
	class="min-w-[120px] text-foreground"
	transition:name={`post-date-${post.slug}`}
>
	{postDate}
</time>
<Element>
	<a
		href={`/blog/${post.slug}`}
		class="themed-link inline-block"
		transition:name={`post-title-${post.slug}`}
		data-astro-prefetch
	>
		{post.data.title}
	</a>
</Element>
