---
import type { CollectionEntry } from "astro:content";

import { getFormattedDate } from "@/utils/dates";

interface Props {
	content: CollectionEntry<"blog">;
}

const { content } = Astro.props;

const datetime = content.data.publishDate.toISOString();
const postDate = getFormattedDate(content.data.publishDate, { month: "long" });
---

<h1
	class="themed-title mb-3 sm:mb-1"
	transition:name={`post-title-${content.slug}`}
>
	{content.data.title}
</h1>
<time datetime={datetime} transition:name={`post-date-${content.slug}`}
	>{postDate}</time
>
<p class="mt-8" transition:name={`post-description-${content.slug}`}>
	{content.data.description}
</p>
