---
import type { SiteMeta } from "@/data/site-meta";

import BaseHead from "@/components/BaseHead";
import Header from "@/components/layout/Header";
import Footer from "@/components/layout/Footer";
import SkipLink from "@/components/SkipLink";

import { siteConfig } from "@/site-config";

interface Props {
	meta: SiteMeta;
}

const {
	meta: { title, description = siteConfig.description, ogImage, articleDate },
} = Astro.props;
---

<!doctype html>
<html lang={siteConfig.lang}>
	<head>
		<BaseHead
			title={title}
			description={description}
			ogImage={ogImage}
			articleDate={articleDate}
		/>
		<script define:vars={{ siteConfig }}>
			const colorThemeMetaTag = document.querySelector(
				"meta[name='theme-color']",
			);
			const colorSchemeQuery = window.matchMedia(
				"(prefers-color-scheme: dark)",
			);

			function toggleTheme() {
				const currentColorMode = window.matchMedia(
					"(prefers-color-scheme: dark)",
				).matches
					? "dark"
					: "light";
				const nowIsDark = currentColorMode === "dark";

				// set the meta attribute
				colorThemeMetaTag.setAttribute(
					"content",
					siteConfig[nowIsDark ? "themeColorDark" : "themeColorLight"],
				);
			}
			colorSchemeQuery.addEventListener("change", toggleTheme);
		</script>
	</head>
	<body>
		<SkipLink />
		<Header />
		<main id="main" class="flex-1">
			<slot />
		</main>
		<Footer />
	</body>
</html>
